aside {
  height: 100vh;
  width: 20vw;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
}

aside > h3 {
  padding: 20px 20px 0 20px;
}

ul {
  font-size: large;
  list-style: none;
}

.list-group li {
  padding: 20px 0;
}

.list-group li:hover {
  background-color: gray;
}

main {
  display: flex;
  text-align: center;
}

svg {
  cursor: pointer;
}

.container {
  width: 80vw !important;
  display: inline-flex;
  flex-direction: column;
}

#close {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
}

#open {
  display: none;
  position: fixed;
  top: 20px;
  left: 10px;
}

#page {
  display: inline-block;
  padding: 20px 20px 0;
}

@media only screen and (max-width: 600px) {
  aside {
    width: 100vw;
    display: none;
  }
  #open {
    display: unset;
  }
}

@media only screen and (min-width: 601px) {
  aside {
    display: inline-flex !important;
  }
  .container {
    display:inline-block !important;
  }
  #open {
    display: none !important;
  }
  #close {
    display: none !important;
  }
}